
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('user_info', first_name: @user['first_name'], last_name: @user['last_name']) %></h1>
    <p>
      <%= t('rent_expires', title: @book['title']) %>.
    </p>
    <p><%= t('email_regards') %></p>
  </body>
</html>
